$navcolor: slategrey;
$bkg1: lightgrey;
$bkg2: grey;

@mixin character($height) {
  height: $height;
  padding: 3px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

@mixin center-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

@mixin center-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin graph($height) {
  width: 100%;
  height: $height;
  background-color: $bkg2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: black;
}

body {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-color: $navcolor;
  border-bottom: 1px white solid;
  &__link {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    &:hover {
      background-color: white;
      color: $navcolor;
    }
  }
}

.header {
  width: 100vw;
  height: 250px;
  background-image: url("/img/welcome.jpg");
  background-size: auto 744px;
  background-position: center;
  //mixin center-column here!
  @include center-column();
  background-color: $bkg1;
  color: white;
  &__main-heading {
    font-weight: lighter;
  }
  &__sub-heading {
    font-weight: lighter;
  }
}

.section {
  width: 100vw;
  height: 350px;
  @include center-column();
  background-color: $bkg1;
  &__heading {
    padding: 20px;
  }
}

.plot {
  &__content {
    width: 50rem;
    //mixin center-row here!
    @include center-row();
  }
  &__img {
    width: 17%;
  }
  &__text {
    display: flex;
    flex-flow: column nowrap;
  }
  &__sub-heading {
    padding: 10px;
  }
  &__blurb {
    padding: 10px;
  }
}

.characters-section {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-image: url("/img/rey-standing.jpg");
  background-size: auto 999px;
  background-position: center;
  background-repeat: no-repeat;
}

.character__photos {
  @include center-row();
  align-items: center;
  width: 50rem;
}

.character__photo {
  &-luke {
    @include character(5rem);
  }
  &-leia {
    @include character(6rem);
  }
  &-finn {
    @include character(7rem);
  }
  &-rey {
    @include character(8rem);
  }
  &-kylo {
    @include character(7rem);
  }
  &-poe {
    @include character(6rem);
  }
  &-bb8 {
    @include character(5rem);
  }
}

.ratings-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100vw;
  height: 500px;
}

.ratings-graphs {
  width: 50rem;
  height: 500px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  &__graph {
    width: 25%;
    height: 95%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  &__rating {
    font-size: 1.4rem;
  }
  &__bar--imbd {
    @include graph(75%);
  }
  &__bar--rotten {
    @include graph(90%);
  }
  &__bar--meta {
    @include graph(85%);
  }
}

.cast-section {
  height: 600px;
  justify-content: space-between;
}

.cast {
  &__main {
    width: 50rem;
    display: flex;
    flex-flow: row nowrap;
  }
  &__main-photo {
    width: 20%;
  }
  &__content {
    padding: 1rem;
  }
  &__content-title {
    padding-bottom: 1rem;
  }
  &__photos {
    width: 70%;
    height: 12rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__photo {
    position: relative;
    width: 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  &__photo-label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
  }
}

.gallery {
  width: 100vw;
  height: 600px;
  &__pictures {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__img {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    z-index: 1;
  }
  &__left {
    width: 5%;
    position: absolute;
    top: 45%;
    left: 2%;
    z-index: 2;
    border-radius: 50%;
    background-color: white;
  }
  &__right {
    width: 5%;
    position: absolute;
    top: 45%;
    right: 2%;
    z-index: 2;
    border-radius: 50%;
    background-color: white;
  }
}
